*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: #222222; */
}
.mainContainer{
   margin-top: 4vh;
}
.nav{
    display: flex;
    justify-content: space-evenly;
}
.links{
    margin-top: 3vh;
}